<header class="header blockSizeRegistration">


    <table style="width:100%; height:100% ">
        <tr>
            <th style="width:35%"></th>
            <th>


                <div class="text-vertical-center">
                    <div>


                    </div>

                    <form name="addressForm" id="addressForm" ng-submit="register()" novalidate>
                        <table cellpadding="5">

                            <tr>
                                <th>
                                    <h1>New Address</h1>
                                </th>
                            </tr>
                            <!-- Street field -->
                            <tr>
                                <th>
                                    <label>Street:</label>
                                </th>
                                <th>
                                    <input type="text" name="street" ng-model="address.streetAddress"
                                           ng-model-options="{ debounce: 500 }" required>
                                </th>
                                <th>
                                    <p class=" error" ng-show="addressForm.streetAddress.$dirty">
                                        <span ng-show="addressForm.streetAddress.$invalid">This field is required.</span>
                                    </p>
                                </th>
                            </tr>

                            <!-- Apartment field -->
                            <tr>
                                <th>
                                    <label>Apartment:</label>
                                </th>
                                <th>
                                    <input type="text" name="apartment" ng-model="address.apartment"
                                           ng-model-options="{ debounce: 500 }">
                                </th>
                                <th>
                                    <p class=" error" ng-show="addressForm.apartment.$dirty">
                                        <span ng-show="addressForm.apartment.$invalid">This field is required.</span>
                                    </p>

                                </th>

                            </tr>

                            <!-- City field -->
                            <tr>
                                <th>
                                    <label>City:</label>
                                </th>
                                <th>
                                    <input type="text" name="city" ng-model="address.city"
                                           ng-model-options="{ debounce: 500 }"
                                           required>
                                </th>
                                <th>
                                    <p class=" error" ng-show="addressForm.city.$dirty">
                                        <span ng-show="addressForm.city.$invalid">This field is required.</span>
                                    </p>
                                </th>

                            </tr>

                            <!-- State field -->
                            <tr>
                                <th>
                                    <label>State:</label>
                                </th>
                                <th>
                                    <select name="state" ng-model='address.state'
                                            ng-options="x for x in states" ng-model-options="{ debounce: 500 }"
                                            required>
                                    </select>
                                </th>
                                <th>
                                    <p class=" error" ng-show="addressForm.state.$dirty">
                                        <span ng-show="addressForm.state.$invalid">This field is required.</span>
                                    </p>
                                </th>

                            </tr>

                            <!-- Zip field -->
                            <tr>
                                <th>
                                    <label>Zip:</label>
                                </th>
                                <th>
                                    <input type="text" name="zip" ng-model="address.zip"
                                           ng-model-options="{ debounce: 500 }" required>
                                </th>
                                <th>
                                    <p class=" error" ng-show="addressForm.zip.$dirty">
                                        <span ng-show="addressForm.zip.$invalid">This field is required.</span>
                                    </p>
                                </th>

                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <button class="btn btn-dark btn-lg" type="submit" form="addressForm" value="Submit"
                                            ng-disabled="addressForm.$invalid">
                                        Submit
                                    </button>

                                </th>
                                <th></th>
                            </tr>
                        </table>


                    </form>

                </div>
            </th>
            <th></th>
        </tr>
    </table>
</header>


<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="/">Rental App</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                       aria-expanded="false">My account <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-inverse" role="menu">
                        <li><a href="#" class="nav-link">My Profile</a></li>
                        <li><a href="/addProduct" class="nav-link">Add Product</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="/logout" class="nav-link">Log Out</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/myCart" class="nav-link">My cart</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">


            </ul>
        </div>
    </div>
</nav>
