<header class="header blockSizeRegistration">
    <table style="width:100%; height:100%; margin-top: 20px;">
        <tr>
            <th style="width:35%"></th>
            <th>
                <div class="text-vertical-center" align="center" style="width:800px; margin:0 auto;">
                    <!-- checkout template -->
                    <form name="checkoutForm" id="checkoutForm" ng-submit="checkout()" novalidate>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <h2><strong><span
                                                                class="glyphicon glyphicon-shopping-cart"></span>
                                                            Shopping
                                                            Cart</strong></h2><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <table>
                                                    <tbody class="centered" ng-repeat="product in checkoutItems">
                                                    <tr>
                                                        <td>
                                                            <div class="col-xs-2">
                                                                <img class="card-img-top img-fluid" width="100"
                                                                     height="70"
                                                                     ng-src={{product.photoLink[0]}} alt="">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-xs-4">
                                                                <h4 class="product-name">
                                                                    <strong>{{product.name}}</strong></h4>
                                                                <h5>
                                                                    <small>{{product.description}}</small>
                                                                </h5>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-xs-6">
                                                                <div class="col-xs-6 text-right">
                                                                    <h6><strong>${{product.price}} Rent from <span
                                                                            class="text-muted"></span></strong></h6>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-xs-6">
                                                                <div class="col-xs-6 text-right">
                                                                    <input type="date" id="startDate"
                                                                           ng-model="product.startDate"
                                                                           placeholder="yyyy-MM-dd"
                                                                           min="{{date | date:'yyyy-MM-dd'}}" required/>
                                                                    to
                                                                    <div role="alert">
                                                                        <span class="error"
                                                                              ng-show="myForm.input.$error.required">
                                                                            Required!</span>
                                                                        <span class="error"
                                                                              ng-show="myForm.input.$error.date">
                                                                            Not a valid date!</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-xs-6">
                                                                <div class="col-xs-6 text-right">
                                                                    <input type="date" id="endDate"
                                                                           ng-model="product.endDate"
                                                                           placeholder="yyyy-MM-dd"
                                                                           min="{{product.startDate | date:'yyyy-MM-dd'}}"
                                                                           required/>
                                                                    <div role="alert">
                                                                        <span class="error"
                                                                              ng-show="checkoutForm.input.$error.required">
                                                                            Required!</span>
                                                                        <span class="error"
                                                                              ng-show="checkoutForm.input.$error.date">
                                                                            Not a valid date!</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-xs-6">
                                                                <div class="col-xs-6 text-right">
                                                                    <button type="button"
                                                                            class="btn btn-success btn-block"
                                                                            style="background-color: #000000"
                                                                            ng-click="deleteItem(product.name,product.price)">
                                                                        Delete Item
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <hr>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <hr>
                                            <hr>
                                        </div>
                                        <div class="panel-footer" style="float:right;">
                                            <div class="row text-center">
                                                <div class="col-xs-9">
                                                    <h4 class="text-right">Total <strong>${{totalPrice}} </strong></h4>
                                                </div>
                                                <br>
                                                <div class="col-xs-3 text-vertical-center">
                                                    <button class="btn btn-dark btn-lg" type="submit"
                                                            form="checkoutForm" value="Submit"
                                                            ng-disabled="checkoutForm.$invalid">
                                                        Checkout
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- checkout template -->
                </div>

            </th>
            <th></th>
        </tr>
    </table>
</header>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="/">Rental App</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                       aria-expanded="false">My account <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-inverse" role="menu">
                        <li><a href="#" class="nav-link">My Profile</a></li>
                        <li><a href="/addProduct" class="nav-link">Add Product</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="/logout" class="nav-link">Log Out</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/myCart" class="nav-link">My cart (0) items</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>
