<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="/">Rental App</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                       aria-expanded="false">My account <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-inverse" role="menu">
                        <li><a href="#" class="nav-link">History</a></li>
                        <li><a href="/addProduct" class="nav-link">Add Product</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="/logout" class="nav-link">Log Out</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/myCart" class="nav-link">My cart</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>

<div class="container" ng-show="hidePage">
    <p>You must be logged in to view this content.</p>
</div>
<!-- Page Content -->
<div class="container" ng-hide="hidePage">
    <div class="row">
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
                <div>
                    <br><h4>Products Rented</h4><br>
                    <div class="col-lg-4 col-md-6 mb-4"
                         ng-repeat="product in rentedProductsList track by $index">
                        <div class="card h-100">
                            <a href="/productHome" ng-click="ProductPass(product)">
                                <img class="card-img-top img-fluid" ng-src={{product.photoLink[0]}} alt="">
                            </a>
                            <div class="card-block">
                                <h4 class="card-title">
                                    <a href="/productHome" ng-click="ProductPass(product)">{{product.name}}</a>
                                </h4>
                                <h5>${{product.price}}</h5>
                                <p class="card-text">{{product.description}}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <br><h4>Products You Rented Out</h4><br>
                    <div class="col-lg-4 col-md-6 mb-4"
                         ng-repeat="product in productsRentedOutList track by $index">
                        <div class="card h-100">
                            <a href="/productHome" ng-click="ProductPass(product)">
                                <img class="card-img-top img-fluid" ng-src={{product.photoLink[0]}} alt="">
                            </a>
                            <div class="card-block">
                                <h4 class="card-title"><a href="/productHome" ng-click="ProductPass(product)">{{product.name}}</a>
                                </h4>
                                <h5>${{product.price}}</h5>
                                <p class="card-text">{{product.description}}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->