<!DOCTYPE html>
<html lang="en" ng-app="login">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="login.js"></script>
</head>
<body>
<h2 class="centered">Sign into your account</h2>
<form name="loginForm" ng-controller="loginController" id="loginForm" novalidate>
    <p class="centered">
        <label>Email:
            <input type="email" name="email" ng-model="user.email" ng-model-options="{ updateOn: 'blur' }" required>
            <span class="error" ng-show="loginForm.email.$dirty">
                <!--<span ng-show="loginForm.email.$error.required">This field is required.</span>-->
                <!--<span ng-show="loginForm.email.$error.email">Please enter a valid email address.</span>-->
            </span>
        </label>
    <p class="centered error" ng-show="loginForm.email.$dirty">
        <span ng-show="loginForm.email.$error.required">Your email address is required.</span>
        <span ng-show="loginForm.email.$error.email">Please enter a valid email address.</span>
    </p>
    <p class="centered">
        <label>Password:
            <input type="password" name="password" ng-model="user.password" ng-model-options="{ updateOn: 'blur' }"
                   required>
            <!--<span class="error" ng-show="loginForm.password.$dirty">-->
            <!--<span ng-show="loginForm.password.$invalid">This field is required.</span>-->
            <!--</span>-->
        </label>
    </p>
    <p class="centered error" ng-show="loginForm.password.$dirty">
        <span ng-show="loginForm.password.$invalid">Your password is required.</span>
    </p>
</form>
<div class="centered">
    <button type="submit" form="loginForm" value="Submit" ng-disabled="loginForm.$invalid">
        Submit
    </button>
</div>
</body>
</html>