<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="/">Rental App</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                       aria-expanded="false">My account <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-inverse" role="menu">
                        <li><a href="#" class="nav-link">My Profile</a></li>
                        <li><a href="#" class="nav-link">Edit Account</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="/logout" class="nav-link">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/myCart" class="nav-link">My cart</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row my-4">
        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <!--<a href="#" class="list-group-item active">Category 1</a>-->
                <!--<a href="#" class="list-group-item">Category 2</a>-->
                <!--<a href="#" class="list-group-item">Category 3</a>-->
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" ng-src={{product.photoLink[0]}} alt="">
                <div class="caption-full">
                    <h4 class="pull-right">${{product.price}}</h4>
                    <h4><a href="#">{{product.name}}</a>
                    </h4>
                    <p>{{product.description}}</p>
                </div>
                <div class="centered">
                    <a href="#" class="btn btn-lg btn-dark" ng-click="addToCart()">Add to Cart</a>
                    <span ng-show="successfulAdd">This item has been added to your cart.</span>
                    <span class="error" ng-show="inCart">This item is already in your cart.</span>
                    <span class="error" ng-show="cartError">Something went wrong, please try again.</span>
                </div>
                <div class="ratings">
                    <p class="pull-right">{{reviewList.length}} {{reviewList.length === 1 ? 'review' : 'reviews'}}</p>
                    <p>
                        <span ng-repeat="i in range">
                            <span class="fa fa-star" ng-show="i <= avgRating"></span>
                            <span class="fa fa-star-half-o" ng-show="i > avgRating && i < Math.ceil(avgRating)"></span>
                            <span class="fa fa-star-o" ng-show="i > Math.ceil(avgRating)"></span>
                        </span>
                        <span ng-hide="avgRating === -1">{{avgRating}} stars</span>
                        <span ng-show="avgRating === -1">No ratings yet</span>
                    </p>
                </div>
                <div class="ratings">
                    <p>
                        <span ng-repeat="i in range">
                            <span class="fa fa-star" ng-show="i <= myRating" ng-click="addRating(i)"></span>
                            <span class="fa fa-star-o" ng-show="i > myRating" ng-click="addRating(i)"></span>
                        </span>
                        <span ng-hide="myRating === -1">Your rating: {{myRating}} stars</span>
                        <span ng-show="myRating === -1">You haven't rated this product yet.</span>
                    </p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <textarea type="text" name="review" ng-model="review"
                              ng-model-options="{ debounce: 500 }"></textarea>
                    <a href="#" class="btn btn-success"
                       ng-click="postReview()">Leave a Review</a>
                </div>
                <div ng-repeat="review in reviewList">
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>{{review.reviewer}}</strong>
                            <span class="pull-right">Some days ago</span>
                            <p>{{review.description}}</p>
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--Anonymous-->
                <!--<span class="pull-right">10 days ago</span>-->
                <!--<p>This product was great in terms of quality. I would definitely buy another!</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<hr>-->
                <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--Anonymous-->
                <!--<span class="pull-right">12 days ago</span>-->
                <!--<p>I've already ordered another one!</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<hr>-->
                <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--Anonymous-->
                <!--<span class="pull-right">15 days ago</span>-->
                <!--<p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

