<header class="header blockSizeRegistration">


    <table style="width:100%; height:100%" ">
        <tr>
            <th style="width:35%"></th>
            <th>


    <div class="text-vertical-center">

        <form name="registrationForm" id="registrationForm" ng-submit="register()" novalidate>
            <table cellpadding="5" >
                <tr>
                    <th colspan="3">
                        <h1 class="centered">Create a new account</h1>
                    </th>
                </tr>
                <!-- First name field -->
                <tr>
                    <th>
                        <label>First Name:</label>
                    </th>
                    <th>
                        <input type="text" name="firstName" ng-model="user.firstName"
                               ng-model-options="{ debounce: 500 }" required>
                    </th>
                    <th>
                        <p class=" error" ng-show="registrationForm.firstName.$dirty">
                            <span ng-show="registrationForm.firstName.$invalid">This field is required.</span>
                        </p>
                    </th>
                </tr>

                <!-- Last Name field -->
                <tr>
                    <th>
                        <label>Last Name:</label>
                    </th>
                    <th>
                        <input type="text" name="lastName" ng-model="user.lastName" ng-model-options="{ debounce: 500 }">
                    </th>
                    <th>

                    </th>

                </tr>

                <!-- Email field -->
                <tr>
                    <th>
                        <label>Email:</label>
                    </th>
                    <th>
                        <input type="email" name="email" ng-model="user.email" ng-model-options="{ debounce: 500 }"
                               required>
                    </th>
                    <th>
                        <p class="centered error" ng-show="registrationForm.email.$dirty">
                            <span ng-show="registrationForm.email.$error.required">This field is required.</span>
                            <span ng-show="registrationForm.email.$error.email">Please enter a valid email address.</span>
                        </p>
                    </th>

                </tr>

                <!-- Password field -->
                <tr>
                    <th>
                        <label>Password:</label>
                    </th>
                    <th>
                        <input type="password" name="password" ng-model="user.password"
                               ng-model-options="{ debounce: 500 }" required>
                    </th>
                    <th>
                        <p class=" error" ng-show="registrationForm.password.$dirty">
                            <span ng-show="registrationForm.password.$invalid">This field is required.</span>
                        </p>
                    </th>

                </tr>

                <!-- Confirm password field -->
                <tr>
                    <th>
                        <label>Confirm Password:</label>
                    </th>
                    <th>
                        <input type="password" name="confirm" ng-model="user.confirmPassword"
                               ng-model-options="{ debounce: 500 }" required>
                    </th>
                    <th>
                        <p class=" error" ng-show="registrationForm.confirm.$dirty">
                            <span ng-show="registrationForm.confirm.$invalid">This field is required.</span>
                        </p>
                        <p class=" error"
                           ng-show="registrationForm.password.$valid && registrationForm.confirm.$valid && user.password !== user.confirmPassword">
                            Please make sure both copies of your password match.
                        </p>
                    </th>

                </tr>
                <tr >
                    <th></th>
                    <th>
                        <button class="btn btn-dark btn-lg" type="submit" form="registrationForm" value="Submit"
                                ng-disabled="registrationForm.$invalid || user.password !== user.confirmPassword">
                            Submit
                        </button>
                        <p class="centered error" ng-show="duplicateEmail">That email address is already associated with an account.
                            Please try a different
                            email.</p>
                        <p class="centered error" ng-show="registrationError">We're sorry, something seems to have gone wrong. Please
                            try again.</p>
                    </th>
                    <th></th>
                </tr>
            </table>


        </form>

    </div>
            </th>
            <th></th>
        </tr>
    </table>
</header>


<!--Navigation-->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="#">Rental App</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="landingPage.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" href="#">Services</a>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>